*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* Bootstrap Navbar Customization */

.custom-navbar {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

.logo {
    color: #ffffff !important;
    font-size: 30px;
    font-weight: 700;
    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    text-shadow: 0 0 5px #ffffff;
}

.navbar-toggler {
    border: 1px solid #fff;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.hero {
    height: 100vh;
    background: url("images/home.png") no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: whitesmoke;
    position: relative;
}
.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;   /* adjust if needed */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
}


.hero h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;

    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #b3b7ba;
}
.hero p {
    font-size: 24px;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 2s ease forwards;
    animation-delay: 0.5s;
    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #b3b7ba;
}

/* Animation keyframes */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* @media (max-width: 768px) {
    .hero h1 {
        font-size: 42px;
    }

    .hero p {
        font-size: 18px;
    }
} */
.missions {
    background-color: #000;
    padding: 100px 60px 120px 60px;
    color: white;
    text-align: center;
    scroll-margin-top: 120px;
    
}


.section-title {
    font-size: 40px;
    margin-bottom: 60px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #b3b7ba;
}

.missions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.mission-card {
    background: #111827;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.mission-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.mission-card h3 {
    margin: 20px 0 10px;
    font-size: 22px;
}

.mission-card p {
    font-size: 15px;
    padding: 0 20px;
    color: #ccc;
}

.mission-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #ffffff;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding: 80px 0;
}

/* Perspective container */
/* .cards {
    perspective: 800px;
} */
.cards {
    perspective: 800px;
    text-decoration: none;
    display: inline-block;
}
/* .cards:hover .card {
    transform: rotateX(15deg) rotateY(15deg) translateZ(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
} */


.card a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.card {
    width: 250px;
    height: 320px;
    background: #111;
    border: 1px solid #333;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    overflow: hidden;
}

/* Image inside card */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

/* Hover 3D effect */
.card:hover {
    transform: rotateX(15deg) rotateY(15deg) translateZ(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
}


/* Title */
.card_title {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font: 700 1.4rem 'Orbitron', sans-serif;
    transform: translateZ(40px);
    transition: transform 0.6s ease;
    text-shadow: 0 0 10px #b1b1b1;
}

/* Slight image brighten on hover */
.card:hover img {
    opacity: 1;
}

/* Timeline Section */

.timeline-section {
    background: #000;
    padding: 150px 0;
    color: white;
    text-align: center;
}

.timeline-wrapper {
    overflow: hidden; /* hides scrollbar visually */
}

.timeline-container {
    display: flex;
    gap: 60px;
    padding: 80px 60px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    /* Hide scrollbar */
    scrollbar-width: none;
}

.timeline-container::-webkit-scrollbar {
    display: none;
}

.timeline-item {
    min-width: 300px;
    flex-shrink: 0;

    background: #111;
    border: 1px solid #333;
    border-radius: 15px;
    overflow: hidden;

    scroll-snap-align: center;
    transition: 0.4s ease;
}

.timeline-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    opacity: 0.75;
    transition: 0.4s ease;
}

.timeline-item h3 {
    font-size: 26px;
    margin: 20px 20px 10px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff;
}

.timeline-item p {
    font-size: 14px;
    color: #ccc;
    margin: 0 20px 20px;
}

.timeline-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
}

.timeline-item:hover img {
    opacity: 1;
}
.timeline-item img {
    position: relative;
}

.timeline-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
}

/* Agencies Section */

.agencies-section {
    background: #000;
    padding: 150px 60px;
    color: white;
    text-align: center;
}

.agencies-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 80px;
}

.agency-card {
    width: 260px;
    padding: 40px 25px;

    background: #111;
    border: 1px solid #333;
    border-radius: 15px;

    transition: 0.4s ease;
}

.agency-card img {
    /* height: auto; */
    width: 150px;
    margin-bottom: 20px;
    align-items: center;
    /* filter: brightness(0) invert(1); */
}

.agency-card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff;
}

.agency-card p {
    font-display: auto;
    font-size: 14px;
    color: #ccc;
}

.agency-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
}

/* Future Section */

.future-section {
    background: #000;
    padding: 160px 60px;
    color: white;
    text-align: center;
}

.future-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 80px;
}

.future-card {
    width: 320px;
    background: #111;
    border: 1px solid #333;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s ease;
}

.future-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 0.75;
    transition: 0.4s ease;
}

.future-card h3 {
    font-size: 20px;
    margin: 25px 20px 10px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff;
}

.future-card p {
    font-size: 14px;
    color: #ccc;
    margin: 0 20px 25px;
}

.future-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
}

.future-card:hover img {
    opacity: 1;
}

.future-quote {
    margin-top: 80px;
    font-size: 18px;
    color: #aaa;
    font-style: italic;
}

/* Footer Section */

.footer {
    background: #000;
    border-top: 1px solid #222;
    padding: 80px 60px 30px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.footer-left h3 {
    font-size: 22px;
    margin-bottom: 15px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff;
}

.footer-left p {
    font-size: 14px;
    color: #aaa;
}

.footer-links h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
    transition: 0.3s ease;
}

.footer-links ul li a:hover {
    color: white;
    text-shadow:
        0 0 5px #ffffff;
}

.footer-bottom {
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
    color: #777;
}

/* mobile responsive */

@media (max-width: 576px) {

    .hero {
        padding: 0 20px;
        text-align: center;
    }

    .hero h1 {
        font-size: 38px;
    }

    .hero p {
        font-size: 16px;
    }

    .missions {
        padding: 60px 20px;
    }

    .section-title {
        font-size: 26px;
    }

    /* .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card {
        width: 90%;
        height: 280px;
    } */

    .timeline-container {
        padding: 40px 20px;
        gap: 30px;
    }

    .timeline-item {
        min-width: 250px;
    }

    .agencies-container,
    .future-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .agency-card,
    .future-card {
        width: 90%;
    }

    .footer {
        padding: 60px 20px 30px;
    }

    .footer-container {
        flex-direction: column;
        gap: 40px;
    }

}


@media (max-width: 992px) {

    .hero h1 {
        font-size: 60px;
    }

    .hero p {
        font-size: 18px;
    }

    .missions {
        padding: 80px 40px;
    }

    .cards-container {
        gap: 40px;
    }

    .timeline-container {
        padding: 60px 30px;
    }

    .agencies-container,
    .future-container {
        gap: 40px;
    }

}


/* moon page */

.moon-hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 100px;
    /* padding-top: 120px; */
    overflow: hidden;
    background: #000;
}

/* Image styling */
.moon-bg {
    position: absolute;
    inset: 0;              /* replaces top/right */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


/* Content */
.moon-hero-content {
    position: relative;
    z-index: 3;
    max-width: 500px;
    color: white;
}

/* Title */
.moon-hero h1 {
    font-size: 100px;
    letter-spacing: 5px;
    margin-bottom: 30px;
    text-shadow:
        0 0 8px #ffffff,
        0 0 15px #ffffff;
}

/* Paragraph */
.moon-hero p {
    font-size: 18px;
    color: #ccc;
    line-height: 1.6;
}

/* mars */
.mars-hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 100px;
    /* padding-top: 120px; */
    overflow: hidden;
    background: #000;
}

/* Image styling */
.mars-bg {
    position: absolute;
    inset: 0;              /* replaces top/right */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


/* Content */
.mars-hero-content {
    position: relative;
    z-index: 3;
    max-width: 500px;
    color: white;
}

/* Title */
.mars-hero h1 {
    font-size: 100px;
    letter-spacing: 5px;
    margin-bottom: 30px;
    text-shadow:
        0 0 8px #ffffff,
        0 0 15px #ffffff;
}

/* Paragraph */
.mars-hero p {
    font-size: 18px;
    color: #ccc;
    line-height: 1.6;
}

