*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 17px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);

    z-index: 1000;
}

.navbar .logo {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #b3b7ba;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
.navbar ul li a {
    text-decoration: none;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
.navbar ul li a:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #b3b7ba;
}
.hero {
    height: 100vh;
    background: url("images/home.png") no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: whitesmoke;
    position: relative;
}
.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;   /* adjust if needed */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
}


.hero h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;

    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #b3b7ba;
}
.hero p {
    font-size: 24px;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 2s ease forwards;
    animation-delay: 0.5s;
    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #b3b7ba;
}

/* Animation keyframes */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* @media (max-width: 768px) {
    .hero h1 {
        font-size: 42px;
    }

    .hero p {
        font-size: 18px;
    }
} */
.missions {
    background-color: #000;
    padding: 180px 60px 120px 60px;
    color: white;
    text-align: center;
    scroll-margin-top: 120px;
    
}


.section-title {
    font-size: 40px;
    margin-bottom: 60px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #b3b7ba;
}

.missions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.mission-card {
    background: #111827;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.mission-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.mission-card h3 {
    margin: 20px 0 10px;
    font-size: 22px;
}

.mission-card p {
    font-size: 15px;
    padding: 0 20px;
    color: #ccc;
}

.mission-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #ffffff;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding: 80px 0;
}

/* Perspective container */
/* .cards {
    perspective: 800px;
} */
.cards {
    perspective: 800px;
    text-decoration: none;
    display: inline-block;
}
/* .cards:hover .card {
    transform: rotateX(15deg) rotateY(15deg) translateZ(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
} */


.card a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.card {
    width: 250px;
    height: 320px;
    background: #111;
    border: 1px solid #333;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    overflow: hidden;
}

/* Image inside card */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

/* Hover 3D effect */
.card:hover {
    transform: rotateX(15deg) rotateY(15deg) translateZ(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
}


/* Title */
.card_title {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font: 700 1.4rem 'Orbitron', sans-serif;
    transform: translateZ(40px);
    transition: transform 0.6s ease;
    text-shadow: 0 0 10px #b1b1b1;
}

/* Slight image brighten on hover */
.card:hover img {
    opacity: 1;
}
